:root {
  --navbar-height: 58px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif !important;
  background-color: #f8f9fa;
  background: linear-gradient(to right, #92c8fd, #f8f9fa);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (e.g., Chrome, Safari) */
}

/* Optional: Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

.overflow-hidden {
  overflow: hidden;
}

button {
  font-family: "Poppins", sans-serif !important;
}