.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-top: var(--navbar-height);
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie:hover {
    transform: scale(1.05);
}

.movie-image, .stacked-movie-image {
    border-radius: 8px;
}

.movie-image {
    width: 100%;
    height: 300px;
}

.movie-name-container {
    display: flex;
    margin: 14px 0 4px 0;
    font-size: 1.1rem;
    color: #333;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.movie-name {
    width: 100%;
    font-weight: 600;
}

.movie-extended {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: var(--navbar-height);
    background-color: #3d3d3dfa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
}

.movie-extended.show-extended {
    opacity: 1;
    transform: translateX(0);
}

.movie-extended.hide-extended {
    opacity: 0;
}

.movie-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    padding: 10px;
}

.movie-title-container {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 10px 20px 0 20px;
    font-size: 1.5rem;
    padding-top: 10px;
}

.movie-description-container {
    height: calc(35vh - var(--navbar-height) - 40px);
    justify-content: center;
    padding: 20px;
    display: flex;
}

.movie-image-extended {
    height: 100%;
}

.movie-title-extended {
    text-align: center;
}

.movie-description {
    height: 100%;
    max-width: 700px;
}

.offcanvas {
    width: 100vw !important;
    background-color: #f8f9fa !important;
}