.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 58px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    background: rgb(146, 200, 253, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);  
    border: none;
}

.upload-area {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.dashboard-title {
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    color: #ffffff;
}

.upload-button {
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
}

.upload-button-text {
    padding-right: 8px;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
}
  
.upload-button:hover .upload-button-text {
    opacity: 1;
    display: inline-block;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.upload-icon-single {
    color: #000000;
}

.btn-outline-dark:hover .icon {
    color: #ffffff;
}